{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
  <h1>Привет!</h1>
  <h3>Меня зовут Юля Ермачкова.</h3>
  <p>
    Я - автор этого замечального тренировочного проекта-блога. 
    Некоторые посты в нём позаимствованы у Льва Николаевича, некоторые - мои личные измышления и наблюдения, взятые из моих блогов в ЖЖ.
  </p>
  <p>
    <b><i>Пара слов о себе, или как я пришла в Яндекс-Практикум.</i></b>
  </p>
  <p>
    До Python у меня был длинный и извилистый путь:
    Я успела 6 лет проработать по профильному образованию (экономика), параллельно 5 лет училась на вечернем на ювелира-монтировщика.
    После сдачи итогового диплома загремела в декрет на 6 лет, затем ещё почти год работала сметчицей и искала себя. 
    Именно тогда я и присмотрелась к миру программирования.
  </p>
  <p>
    Ссылка на <a href="https://github.com/miscanth" target="_blank">мой аккаунт</a> на  Github.
  </p>
  <p>
    Ссылка на <a href="https://miscant.livejournal.com" target="_blank">мой старый аккаунт</a> в ЖЖ - Живом Журнале.
  </p>
</div>
{% endblock %} 