{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
  <div class="row">
    <h1>Вот что я умею</h1>
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
      </ul>
    </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
    <article class="col-12 col-md-9">
      <p>Честно говоря, не знаю, что писать о том, что я умею, ведь мне кажется, что я совсем ничего не умею - и весь этот проект - череда приятных совпадений и удачное стечение обстоятельств.</p>
      <p>С другой стороны, я уверена, что всё получилось благодаря моему терпению, бесконечному гуглению, копанию в вопросах коллег-студентов в Слаке/Пачке, высокой мотивации и интересу к изучаемому процессу.  </p>
      <p>
        Данный учебный проект от @practicum-russia: социальная сеть Yatube с авторизацией, персональными лентами, комментариями и подпиской на авторов.
      </p>
      <p>
        Чтобы написать этот проект, мне нужно было:
        <ul>
          <li>разобраться в основах HTML и вёрстки для бэкенд-разработчика;</li>
          <li>создать основу для Django-проекта и добавить в него новые приложения;</li>
          <li>применить MVC на практике;</li>
          <li>использовать шаблонизатор Django;</li>
          <li>освоить Django ORM;</li>
          <li>написать тесты;</li>
          <li>задеплоить проект в облако.</li>
        </ul>
        <p>Инструменты и стек: <b>python, HTML, CSS, Django, Bootstrap, Unittest, Pythonanywhere</b>.</p>
      </p>
    </article>
  </div>
</div>
{% endblock %}